---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class='flex h-full w-full items-center justify-center text-3xl'>Loading...</div>
</Layout>

<script>
	import { actions } from 'astro:actions';
	const urlParams = new URLSearchParams(window.location.search);
	const code = urlParams.get('code')!;
	const { data, error } = await actions.askAuthToken({ code });
	if (error) {
		alert(error.message);
		console.error('Error Code: ' + error.code);
		console.error('Error Message: ' + error.message);
	} else {
		console.log(data);
		Astro.session?.set('access_token', data.access_token);

		console.log('Access Token:', data.access_token);
		console.log('Access toen set in store:', await Astro.session?.get('access_token'));
		// window.location.href = '/';
	}
</script>
