---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro';
import Output from '../components/Output.astro';
import Button from '../components/Button.astro';
---

<Layout>
	<!-- <Input /> -->
	<div class='h-12'></div>
	<Output />
	<Button>Test</Button>
	<Button id='auth-spotify'>Auth Spotify</Button>
	<Button id='get-key'>Get Key</Button>
	<Button id='get-profile'>Get Profile</Button>
	<input class='border' id='input-code' />
</Layout>

<script>
	import { actions } from 'astro:actions';

	const authSpotifyButton = document.querySelector('#auth-spotify')!;
	const getKeyButton = document.querySelector('#get-key')!;
	const getProfileButton = document.querySelector('#get-profile')!;
	const inputCode = document.querySelector('#input-code')! as HTMLInputElement;

	let state: string = "";


	authSpotifyButton.addEventListener('click', async () => {
		const { data, error } = await actions.spotifyAuth({});

		if (!error) {
			window.open(data.url, '_blank');
			state = data.state;
		}

		else alert(error.message);
	});

	getKeyButton.addEventListener('click', async () => {
		const { data, error } = await actions.askAuthToken({ code: inputCode.value });

		if (!error) alert(data);
		else alert(error.message);
	});
</script>
