---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro';
import Output from '../components/Output.astro';
import Button from '../components/Button.astro';
---

<Layout>
	<!-- <Input /> -->
	<div class='h-12'></div>
	<Output />
	<Button id='test-button'>Test</Button>
	<Button id='auth-spotify'>Auth Spotify</Button>
	<Button id='get-key'>Get Key</Button>
	<Button id='get-profile'>Get Profile</Button>
	<input class='border' id='input-code' />
</Layout>

<script>
	import { actions } from 'astro:actions';

	const authSpotifyButton = document.querySelector('#auth-spotify')!;
	const getKeyButton = document.querySelector('#get-key')!;
	const getProfileButton = document.querySelector('#get-profile')!;
	const inputCode = document.querySelector('#input-code')! as HTMLInputElement;
	const testButton = document.querySelector('#test-button')!;

	let state: string = '';

	testButton.addEventListener('click', async () => {
		const { data, error } = await actions.printEnv();
		if (!error) {
			alert(data);
			console.log(data);
		} else alert(error.message);
	});

	authSpotifyButton.addEventListener('click', async () => {});

	getKeyButton.addEventListener('click', async () => {
		const { data, error } = await actions.askAuthToken({ code: inputCode.value });

		if (!error) alert(data);
		else alert(error.message);
	});
</script>
