---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout>
	<div class='flex h-full w-full items-center justify-center gap-4'>
		<div class='h-12'></div>
		<Button id='test-button'>Test</Button>
		<Button id='auth-spotify'>Auth Spotify</Button>
	</div>
</Layout>

<script>
	import { actions } from 'astro:actions';

	const accessToken = (await Astro.session?.get('access_token')) || null;
	console.log('Access Token:', accessToken);
	if (accessToken) {
		window.location.href = '/userProfile';
	}

	const authSpotifyButton = document.querySelector('#auth-spotify')!;
	const testButton = document.querySelector('#test-button')!;

	testButton.addEventListener('click', async () => {
		const { data, error } = await actions.printEnv();
		if (!error) {
			console.log(data);
		} else alert(error.message);
	});

	authSpotifyButton.addEventListener('click', async () => {
		const { data, error } = await actions.spotifyAuth();
		if (error) {
			alert(error.message);
			return;
		}

		window.location.href = data.url;
	});
</script>
