---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro';
import Output from '../components/Output.astro';
import Button from '../components/Button.astro';
---

<Layout>
	<Input />
	<div class='h-12'></div>
	<Output />
	<Button>Test</Button>
	<Button id='auth-spotify'>Auth Spotify</Button>
	<Button id='get-profile'>Get Profile</Button>
</Layout>

<script>
	import { requestUserAuth, getProfile } from '../utils/spotify.ts';

	const authSpotifyButton = document.querySelector('#auth-spotify')!;
	const getProfileButton = document.querySelector('#get-profile')!;

	authSpotifyButton.addEventListener('click', async () => {
		const clientId: string = import.meta.env.PUBLIC_CLIENT_ID;
		console.log('clientID: ' + clientId);

		await requestUserAuth();
	});

	getProfileButton.addEventListener('click', async () => {
		const data = await getProfile();
		console.log(data);
	});
</script>
