---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro';
import Output from '../components/Output.astro';
import Button from '../components/Button.astro';
---

<Layout>
	<!-- <Input /> -->
	<div class='h-12'></div>
	<Output />
	<Button id='test-button'>Test</Button>
	<Button id='auth-spotify'>Auth Spotify</Button>
	<Button id='get-profile'>Get Profile</Button>
</Layout>

<script>
	import { actions } from 'astro:actions';
	import { SpotifyApi } from '@spotify/web-api-ts-sdk';

	const authSpotifyButton = document.querySelector('#auth-spotify')!;
	const getProfileButton = document.querySelector('#get-profile')!;
	const testButton = document.querySelector('#test-button')!;
	let api: SpotifyApi;

	let state: string = '';

	function printAlert(data: any) {
		alert(JSON.stringify(data, null, 2));
		console.log(data);
	}

	authSpotifyButton.addEventListener('click', async () => {
		const { data, error } = await actions.spotifyAuth();
		if (error) {
			alert(error.message);
			return;
		}
		console.log(data);
		// window.location.href = data.url;
		// const api = data.api;
		api = data.api;
	});

	getProfileButton.addEventListener('click', async () => {
		// const accessToken = localStorage.getItem('access_token');
		// if (!accessToken) {
		// 	alert('Please authenticate first.');
		// 	return;
		// }
		//
		//
		// const data = await response.json();
		// alert(JSON.stringify(data, null, 2));
		// console.log(data);
		if (!api) {
			alert('Please authenticate first.');
			return;
		}
		const data = await api.makeRequest('GET', 'https://api.spotify.com/v1/me', {
			headers: {
				Authorization: `Bearer ${api.getAccessToken()}`,
			},
		});

		printAlert(data);
	});

	testButton.addEventListener('click', async () => {
		const { data, error } = await actions.printEnv();
		if (!error) {
			printAlert(data);
		} else alert(error.message);
	});
</script>
