---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 id='playlist-header' class='text-3xl underline'>Playlist:</h1>
	<h2 id='playlist-name' class='text-2xl'>Loading...</h2>
	<h3 id='playlist-owner' class='text-xl'>Loading...</h3>
	<h3 id='playlist-description' class='text-xl'>Loading...</h3>
	<h3 id=' playlist-tracks' class='text-xl'>Loading...</h3>
	<ul id='track-list' class='flex flex-col gap-4 rounded-lg border p-4'>Track 1</ul>
</Layout>

<script>
	import { fetchSpotifyPlaylist } from '../utils/playlist';
	const urlParams = new URLSearchParams(window.location.search);
	const playlistID = urlParams.get('id');
	if (!playlistID) {
		alert('Need playlistID');
		window.location.href = '/';
		throw new Error('Playlist ID not found in URL');
	}

	const accessToken = localStorage.getItem('access_token') || null;
	if (!accessToken) {
		alert('Please authenticate first.');
		window.localStorage.removeItem('access_token');
		throw new Error('Access token not found');
	}

	const data = await fetchSpotifyPlaylist(accessToken, playlistID);

	const playlistName = document.getElementById('playlist-name')!;
	const playlistOwner = document.getElementById('playlist-owner')!;
	const playlistDescription = document.getElementById('playlist-description')!;
	const playlistTracks = document.getElementById('playlist-tracks')!;

	playlistName.textContent = data.name || 'N/A';
	playlistOwner.textContent = `by ${data.owner.display_name || 'Unknown'}`;
	playlistDescription.textContent = data.description || 'No description available.';
	playlistTracks.textContent = `${data.tracks.total} tracks`;

	data.tracks.items.forEach((track, index) => {
		const trackElement = document.createElement('li');
		trackElement.setAttribute('class', 'track-item rounded-lg border p-4 shadow-sm');
		trackElement.setAttribute('id', `track-${index}`);
		trackElement.innerHTML = `
			<div>
				<h2 class='text-lg font-semibold'>${track.track.name}</h2>
				<h3 class='text-sm text-gray-300'>by ${track.track.artists.map((artist) => artist.name).join(', ') || 'Unknown'}</h3>
				<p class='text-sm'>${track.track.album.name || 'No album available.'}</p>
			</div>
		`;
		document.getElementById('track-list')!.appendChild(trackElement);
	});
</script>
