---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import UserProfileInfo from '../components/UserProfileInfo.astro';
import PlaylistList from '../components/PlaylistList.astro';
---

<Layout>
	<div class='flex h-full w-full flex-col gap-12 p-16 pt-8'>
		<div class='flex flex-row items-center justify-between'>
			<h1 class='text-xl'>User Profile Page</h1>
			<!-- <button id='logout' class='cursor-pointer'>Logout</button> -->
			<Button id='logout'>Logout</Button>
		</div>
		<UserProfileInfo />
		<PlaylistList />
	</div>
</Layout>

<script>
	const logoutButton = document.querySelector('#logout')!;

	logoutButton.addEventListener('click', () => {
		localStorage.setItem('access_token', '');
		window.location.href = '/';
	});
</script>
