---
import Song from './Song.astro';
---

<div>
	<ul>
		<Song
			songName='Test Name'
			plays={12398123}
			artist='Artist Name'
			length='20:00'
			albumName='Really Really Really Really Really Really Long Album Name'
			timeStamp='4:13'
			releaseDate='MM-DD-YYYY'
		/>
	</ul>
</div>
