---
import Playlist from './Playlist.astro';
---

<div class='rounded-lg border p-6 shadow-md'>
	<ul class='flex flex-col gap-4'>
		<Playlist />
		<Playlist />
		<Playlist />
		<Playlist />
		<Playlist />
	</ul>
</div>
